JWT=TsArFi7/0Wd5/TgK0a6toGdgsoV1Ps2beagrFG2C6Ak=
MONGO=mongodb+srv://phamthianhthu6023789:Anhthu6023789@cluster0.6i2x1ab.mongodb.net/booking?retryWrites=true&w=majority&appName=Cluster0
EMAIL_SERVICE=Gmail
EMAIL_USER=phamthianhthu6023789@gmail.com
EMAIL_PASS=Anhthu6023789
EMAIL_USERNAME=phamthianhthu6023789@gmail.com
EMAIL_PASSWORD=thai ddjt njox tqxz